<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Css file -->
    <link rel="stylesheet" href="css/styles1.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/13163a844a.js" crossorigin="anonymous"></script>
    <!-- Favicon -->
    <link rel="icon" href="images\icon.png">
  </head>
  <body>
    <div class="brand">
      <header>
        weather
      </header>
    </div>
    <div class=" fail">
      <img src="images\1132535.png" alt="">
      <div class="error">
        <h1>Error 404!</h1>

      </div>
      <form class="searchBar" action="/" method="POST">
        <input type="search" placeholder="Location" name="search" autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <!-- <script src="app.js"></script> -->
    <script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
